@model IEnumerable<_5StarsSchoolForum.Models.Message>

@{
	ViewBag.Title = "Messages";
}



@foreach (var item in Model)
{
<div>

	<div>
		<p>
			@Html.DisplayFor(modelItem => item.PostMessage)
		</p>
		@Html.DisplayFor(modelItem => item.PostingDate)
		@Html.DisplayFor(modelItem => item.User)
	</div>
</div>
	
}


