@model IEnumerable<_5StarsSchoolForum.Models.Category>

@{
	/**/

	ViewBag.Title = "Details";
}

<div>
	
		@foreach (var item in Model)
		{

		<h4>Topic : : @Html.DisplayFor(modelItem => item.CategoryTitle)</h4>

		<p>Messages Posted</p>
		<p>*************************************************************</p>
		@Html.Action("Index","Messages")
		}



</div>


@*<ul>
		<li>
			@Html.ActionLink("Back to List", "CategoryList")
		</li>
	</ul>*@


@*<div class="col-md-4">
		<h2>
			@Html.ActionLink("Message Board", "Index", "Messages")
		</h2>
		<p>As Teacher and a student can post a message and replies in a category, remember your teachers should assign you to a specific category for you to have access, Alright Good luck!</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>

	</div>*@



