body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.TowLines{display:block}

/*This is to change the background color and image*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: azure;
    background-image: url('pen.jpg');
    background-repeat: repeat-y;
    background-position-x:right;
    background-position-y:center;
    background-attachment: fixed;
    background-position: center;
}
.navbar-inverse {
    background-color: #19195D;
    border-color: #080808;
}

