@{
    ViewBag.Title = "About";
    ViewBag.Message = "5*School";
}
<h2><u> Brief Description About the 5*SchoolForum </u></h2> 

<p>
    We want 5*SchoolForum.com to be an active resource for you, which is why we have created  forums as a way for students to interact with and learn from each other’s experiences. We are going to develop  two main forums, one based on general International Student topics and the other for ESL (English as a Second Language) learners, and a number of blogs covering all topics of international education -

    Social Media
    Through social media you can you follow along for daily updates about a range of timely topics relevant to international and study abroad students, participate in contests, and interact with our international student community in real-time. Start Socializing Now »

    Study Blogs
    When preparing to study internationally, one of the most helpful resources is other international students. Our study blogs allow you to be a "fly on the wall" as we follow students studying around the world in countries like the USA, Greece, and Scotland. You can read about their experiences and the lessons that they’ve learned to help prepare you for your own study abroad experience. The latest post from each blog are:

    The Purpose of Creating this is to interact with students and teachers,to help them with their doubts,Homeworks etc..so please visit them, learn, and post questions and comments.


    Our vision is to be the company that best recognizes and serves the needs of international students around the world. We strive to provide students world-class resources to help them investigate and pursue an international education, through relevant content, custom online tools and engaging websites that offer only best in class products and services.
</p>




<strong class="TowLines">Time-8:00AM to 15:00PM</strong>

<strong class="TowLines">Lunch Time-11:00 to 12:00</strong>



