@{
    ViewBag.Title = "About";
    ViewBag.Message = "5*FourmSchool";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>School is temple of knowledge. Where we can ern and get trained. Where we can earn how to live a social life.
    5*FourmSchool was established in 2000 . School atmosphere is very pleasant and school
     environment is very clean and attractive there are gardens and lawns, flowers etc. 5*FourmSchool building is located in
     the center of the big ground. On one side of the school there is a big garden having parking facility. On other side 
    there is garden for kids. In front of a school is fountain and in back side there is ground for volleyball and basketball. </p>
<strong class="TowLines">Time-8:00AM to 15:00PM</strong>

<strong class="TowLines">Lunch Time-11:00 to 12:00</strong>


