@model IEnumerable<_5StarsSchoolForum.Models.AssignCategoryView>

@{
	ViewBag.Title = "AssignCategoryView";
}

<h2>Select Category to be Assigned</h2>

<br/>

@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">        
        @Html.DropDownList("Category",
            new SelectList(Model.Select(i => i.Category).Distinct().ToList()),
            new { @class = "input-large form-control" })
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Assign" class="btn btn-default"/>
            </div>
        </div>
        <div class="btn col-md-10">
        @Html.ActionLink("Back","StudentList","Categories")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

