@{
    ViewBag.Title = "Contact";
    //Layout = null;
}
<h2><u>Contact Details</u></h2>


<address>
    5*FourmSchool<br />
    TCentral,Road-56,
    Stockholm<br />
    <abbr title="Phone">P:</abbr>
    0987654321

</address>
If You have any Questions or Reports Please Mail to us-
<address>
    <strong>Gmail:</strong>   <a href="mailto:Support@example.com">5*school@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>