@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5*FourmSchool<br />
    TCentral,Road-56,
    Stockholm<br />
    <abbr title="Phone">P:</abbr>
    0987654321

</address>

<address>
    <strong>Gmail:</strong>   <a href="mailto:Support@example.com">5*school@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>