@model IEnumerable<_5StarsSchoolForum.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>Student List</h1>*@
    @*@{Html.RenderAction("Studentlist","Categories");}*@
    <p class="lead">Welcome to the school forum, Please login to start!</p>
    
</div>
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Teacher"))
    {
<div class="row">
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Students", "Studentlist", "Categories")
            
        </h2>
        <p>
            As a student you have access to various categories assigned to you by your class teacher(s).
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> 
    </div>
    
    <div class="col-md-4">
        <h2>Teachers</h2>
        <p>As teacher, You can create, delete, modify a category. Add a new user to a category and delete as well. A teacher has superpowers to delete a message with any reply in a specific category, so talk to your teachers well.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
    }

    else if (User.IsInRole("Student"))
    {

        
   
    <div class="col-md-4">
        <h2>
            @*@Html.ActionLink("Students", "Studentlist", "Categories")*@
           You are a Student!
        </h2>
        <p>
            As a student you have access to various categories assigned to you by your class teacher(s).
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    }
   

}
<div>
    <div><h2>Developers version of the application</h2> </div> 
</div>