@model IEnumerable<_5StarsSchoolForum.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>Student List</h1>*@
    @*@{Html.RenderAction("Studentlist","Categories");}*@
    <p class="lead">Welcome to the student forum, Please login to start!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            @*@Html.ActionLink("Students", "Studentlist", "Categories")*@
            Students
        </h2>
        <p>
            As a student you have access to various categories assigned to you by your class teacher(s).
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <h2>Message Board</h2>
        <p>As a student you can post a message and replies in a category, remember your teachers should assign you to a specific category for you to have access, Alright Good luck!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teachers</h2>
        <p>As teacher, You can create, delete, modify a category. Add a new user to a category and delete as well. A teacher has superpowers to delete a message with any reply in a specific category, so talk to your teachers well.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>