@model IEnumerable<_5StarsSchoolForum.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-lg-12">
        <h1 class="alert-warning"><i>Welcome to the 5*School Forum</i></h1>
        <h2><u> What you Need to Know About the 5*SchoolForum </u></h2>
    </div>
    <div class="col-xs-12">
        <strong><u>1. User Names:</u></strong> The user name you choose when you register to post comments to the ISR Open Forum will be publicly displayed beside each post you make to the forum. If anonymity is important to you please carefully consider your choice of a user name. User names cannot be changed. Your choice is permanent. PROPER NAMES & EMAIL ADDRESSES ARE NOT ACCEPTABLE AS USER NAMES.
    </div>

    <div class="col-xs-12">
        <strong> <u> 2. If you are an 5*SchoolForumMember:</u></strong> Your log in to the MEMBER AREA of the web site will not, for privacy reasons,you can log into this FORUM.
    </div>

    <div class="col-xs-12">

        <strong> <u> 3. You do not need to register :</u></strong> To read articles on the Forum. Posting requires that you are a registered forum user. To register, You need to sendmail to Teacher.

        <div class="col-xs-12">

            <strong>
                <u>  5. Do not post or request evaluation type comments about schools to this forum:</u>
            </strong>  If this is your intent this is the wrong forum for you and we suggest you visit the Member Forum – available to  Members(Available Soon) – which is expressly for exchanging review-type information about schools. Posting such comments to this forum will result in an immediate ban without notice. Please help us avoid legal issues. See Forum Terms of Conduct and Posting Rules for the  Forum, below. If in doubt, don’t post.
        </div>

    </div>
    <p class="lead">These are our Forum Terms of Conduct & Posting Rules. Please login to start!(If you are a Member already )</p>

</div>
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Teacher"))
    {
        <p>  --Welcome--</p>

    }

    else if (User.IsInRole("Student"))
    {

        <p>  --Welcome--</p>

    }


}
<div>
</div>