@using Microsoft.AspNet.Identity
@model IEnumerable<_5StarsSchoolForum.Models.Category>

@{
				/**/

				ViewBag.Title = "Home Page";
}


@if (Request.IsAuthenticated)
{
	if (User.IsInRole("Teacher"))
	{
		<div class="row">
			<div class="col-md-4">
				<h2>
					@Html.ActionLink("Students", "Studentlist", "Categories")

				</h2>
				<p>
					You can see all user here.
				</p>
				<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
			</div>

			<div class="col-md-4">
				<h2>
					@Html.ActionLink("Users", "Teacherlist", "Categories")

				</h2>
				<p>As teacher, You can create, delete, modify a category. Add a new user to a category and delete as well. A teacher has superpowers to delete a message with any reply in a specific category, so talk to your teachers well.</p>
				<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
			</div>
		</div>
	}

	else if (User.IsInRole("Student"))
	{



	    <div class="col-md-4">
	        <h2>
	            @*@Html.ActionLink("Students", "Studentlist", "Categories")*@
	            You are a Student!
	        </h2>
	        <p>
	            As a student you have access to various categories assigned to you by your class teacher(s).
	        </p>
	        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	    </div>
	    <div class="col-md-10">
	        <h2>Categories</h2>
	        <p>Categories are groups you have access to, click <href>below</href> to see list of them.</p>
	        @Html.ActionLink("My Categories", "AssignedCategories", "Home", new { id = User.Identity.GetUserId() }, null)
	    </div>
	    
	}


}

else
{
	<div class="jumbotron">
		@*<h1>Student List</h1>*@
		@*@{Html.RenderAction("Studentlist","Categories");}*@
		<p class="lead">Welcome to the school forum, Please login to start!</p>

	</div>
}
<div class="bottom">
    <p>Developers version of the application</p>
</div>